# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Exlude image directories
dogImages/
lfw/
test_images/

# Exlude hidden Mac OS files
.DS_STORE